<IfModule mod_rewrite.c>
  RewriteEngine On
  CGIPassAuth On
  SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
  RewriteRule ^uploads/(.*)$ public/uploads/$1 [L]
  RewriteRule ^$ public/index.php [L]
  RewriteRule (.*) public/index.php/$1 [L,QSA]
</IfModule>